<!DOCTYPE html>
<html class="loading" lang="ko" data-textdirection="ltr">
<!-- BEGIN: Head-->
<%- include('./manager/header.ejs')%>
<div class="app-content center-layout mt-2">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <section class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-head">
                            <div class="card-header">
                                <h4 class="card-title">상품내역</h4>
                                <div class="heading-elements">
                                    <button type="button" class="btn btn-info" onclick="itemReg()">상품등록</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="orderList" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
                                        <thead>
                                        <tr>
                                            <th>주문번호</th>
                                            <th>주문일</th>
                                            <th>상품</th>
                                            <th>상태</th>
                                            <th>구매자</th>
                                            <th>결제금액</th>
                                            <th>관리</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->

</body>
<!-- END: Body-->
<%- include('./manager/footer.ejs')%>
</html>