<!DOCTYPE html>
<html class="loading" lang="ko" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="jayeon farm">
    <meta name="keywords" content="">
    <meta name="author" content="jayeon">
    <title>자연 햇살 농원</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="/app-assets/images/ico/favicon.ico">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/components.css">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/news-feed.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <!-- font -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->


<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu 2-columns  " data-open="hover" data-menu="horizontal-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item">
                        <h3 class="brand-text">평창 자연햇살농원</h3>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    <!-- END: Main Menu-->
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-body">
              <div class="row">
                <div class="col-12">
                  <div class="card bg-gradient-x mb-1">
                    <div class="card-body">
                      <span class="badge badge-danger badge-sm float-right">결제방법</span>
                      <h3>
                        2021년 가을에 수확한 사과(부사, 시나노골드)를 판매하고 있습니다.
                        <br/>
                        - 해발 700m 장미산과 덕수산 자락에서 아침햇살을 듬뿍 받고 자란 맛 좋은 사과입니다.
                      </h3>
                      <hr>
                      <h6 class="card-title font-medium-1" style="color: red;">
                        주문 전 필독 사항!!!
                      </h6>
                      <p class="">
                        결제는 주문서 작성 후 계좌이체 해주시면 확인 후 배송을 시작합니다!
                        <br/>
                          농협 (최학래) 352-1117-5671-23
                      </p>
                      <hr>
                      <p class="">
                        2021년에 수확한 후지사과와 100% 저희 사과로 가공한 사과즙을 판매합니다.
                        <br>
                        주문이 많을 경우 발송이 다소 지연될 수 있으니 널리 양해 바랍니다. - 발송 : 주문서와 결재 확인 후, 매주 월, 수, 목요일 발송 - 택배 : 무료 배송 (CJ 대한통운)
                        <br>
                        > 현재 CJ 택배 파업으로 인해 우체국 택배로 대체되어 배송됩니다.
                      </p>
                      <p class="float-left">감사합니다.</p>
                        
                    </div>
                  </div>
                </div>
                  <!-- 빨강 = badge badge-danger badge-sm float-left -->
                  <!-- 파랑 = badge badge-info badge-sm float-left -->
                  <!-- 주황 = badge badge-warning badge-sm float-left -->
                  <!-- 보라 = badge badge-primary badge-sm float-left -->
                  <!-- 초록 = badge badge-success badge-sm float-left -->
                  <!-- 회색 = badge badge-secondary badge-sm float-left -->

                  <!-- 1번 -->
                  <div class="col-lg-4 col-md-12">
                    <!-- Social Card -->
                    <div class="card news-feed-card-bg text-white sale">
                        <img src="/images/busa1.jpg" alt="" class=" card-img-top img-fluid">
                        <div class="card-img-overlay">
                            <div class="badge badge-danger badge-sm float-left">부사</div>
                            <a>
                                <h2 class="card-title mt-3 text-white">부사 50,000원 (5kg 1박스 기준)
                                </h2>
                            </a>
                            <p class="font-small-3 text-left">판매중 </p>
                        </div>
                    </div>
                    <!-- Social Card -->
                    <!-- Social Card -->
                    <div class="card news-feed-card-bg text-white not-sale">
                      <img src="/images/arisu1.jpg" alt="" class=" card-img-top img-fluid">
                      <div class="card-img-overlay">
                          <div class="badge badge-secondary badge-sm float-left">아리수</div>
                          <a>
                              <h2 class="card-title mt-3 text-white">50,000원 (5kg 1박스 기준)
                              </h2>
                          </a>
                          <p class="font-small-3 text-left">10월 ~ 11월 판매 </p>
                      </div>
                    </div>
                    <!-- Social Card -->
                  </div>
                  <!-- 1번 -->

                  <!-- 2번 -->
                  <div class="col-lg-4 col-md-12">
                    <!-- Social Card -->
                    <div class="card news-feed-card-bg text-white sale">
                      <img src="/images/gold1.jpg" alt="" class=" card-img-top img-fluid">
                      <div class="card-img-overlay">
                          <div class="badge badge-danger badge-sm float-left">시나노 골드</div>
                          <a href="#">
                              <h2 class="card-title mt-3 text-white">50,000원 (5kg 1박스 기준)
                              </h2>
                          </a>
                          <p class="font-small-3 text-left">판매중 </p>
                      </div>
                    </div>
                    <!-- Social Card -->
                    <!-- Social Card -->
                    <div class="card news-feed-card-bg text-white not-sale">
                      <img src="/images/arisu3.jpg" alt="" class=" card-img-top img-fluid">
                      <div class="card-img-overlay">
                          <div class="badge badge-secondary badge-sm float-left">감홍</div>
                          <a>
                              <h2 class="card-title mt-3 text-white">50,000원 (5kg 1박스 기준)
                              </h2>
                          </a>
                          <p class="font-small-3 text-left">11월 ~ 12월 판매 </p>
                      </div>
                    </div>
                    <!-- Social Card -->
                  </div>
                  <!-- 2번 -->

                  <!-- 3번 -->
                  <div class="col-lg-4 col-md-12">
                    <!-- Social Card -->
                    <div class="card news-feed-card-bg text-white sale">
                      <img src="/images/juice.jpg" alt="" class=" card-img-top img-fluid">
                      <div class="card-img-overlay">
                          <div class="badge badge-info badge-sm float-left">사과즙</div>
                          <a>
                              <h2 class="card-title mt-3 text-white">30,000원 (1박스 50봉 기준)
                              </h2>
                          </a>
                          <p class="font-small-3 text-left">상시 판매 (재고 소진시까지) </p>
                      </div>
                    </div>
                    <!-- Social Card -->
                  </div>
                  <!-- 3번 -->
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade text-left" id="saleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
              <div class="modal-dialog modal-xl" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel16">주문서</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                        <form name="orderForm">
                          <h5>상품 선택</h5>
                          <span id="goodsList">
                          </span>
                          <button type="button" id="addGoodsList" class="btn btn-primary col-12 mt-1">상품 추가</button>
                          <hr>
                          <h5>주문자 정보</h5>
                          <div class="row">
                            <div class="col-lg-6 col-md-1">
                              <input type="text" name="buyer" class="form-control" placeholder="입금자명" value="테스터" />
                            </div>
                          </div>
                            <h5 class="mt-1">주문자 연락처</h5>
                            <div class="row">
                              <input type="text" name="buyerTel1" class="form-control col-3 ml-1" placeholder="010" value="010" />
                              <input type="text" name="buyerTel2" class="form-control col-3 ml-1" placeholder="1234" value="1111" />
                              <input type="text" name="buyerTel3" class="form-control col-3 ml-1" placeholder="5678" value="2222" />
                            </div>
                            <hr>
                          <h5>수령자 성함</h5>
                          <div class="row">
                            <div class="col-lg-6 col-md-12">
                              <input type="text" name="recipient" class="form-control" placeholder="받는 분 성함" value="수령자" />
                            </div>
                          </div>
                          <h5 class="mt-1">수령자 연락처</h5>
                          <div class="row">
                            <input type="text" name="recipientTel1" class="form-control col-3 ml-1" placeholder="010" value="010" />
                            <input type="text" name="recipientTel2" class="form-control col-3 ml-1" placeholder="1234" value="3333" />
                            <input type="text" name="recipientTel3" class="form-control col-3 ml-1" placeholder="5678" value="4444" />
                          </div>
                          
                          <h5 class="mt-1">받는 분 주소</h5>
                          <div class="row">
                            <input type="text" name="post1" class="form-control col-4 ml-1" placeholder="우편번호" value="1234" readonly/>
                            <button type="button" class="btn btn-secondary ml-1" onclick="kakaoPostSearch()">주소찾기</button>
                            <input type="text" name="post2" class="form-control col-11 ml-1 mr-1 mt-1" placeholder="우편주소" value="현대아파트" readonly/>
                            <input type="text" name="post3" class="form-control col-11 ml-1 mr-1 mt-1" placeholder="상세주소" value="101동 1404호"/>
                          </div>
                          <hr>
                          <h5 class="mt-1">기타 요청사항</h5>
                          <div class="row">
                              <textarea name="request" class="form-control col-11 ml-1" placeholder="ex) 발송자 이름을 xxx으로 변경해서 발송해주세요! 연락처도 010-xxxx-xxxx로 변경해서 발송해주세요!"></textarea>
                          </div>

                          <hr>
                          <h5>입금계좌 정보</h5>
                          <p>
                            농협 (최학래) 352-1117-5671-23
                          </p>
                        </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">취소</button>
                          <button type="button" class="btn btn-outline-primary" onclick="order()">주문하기</button>
                      </div>
                  </div>
              </div>

        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2019 <a class="text-bold-800 grey darken-2" href="https://1.envato.market/modern_admin" target="_blank">PIXINVENT</a></span><span class="float-md-right d-none d-lg-block">Hand-crafted & Made with<i class="ft-heart pink"></i><span id="scroll-top"></span></span></p>
    </footer>
    <!-- END: Footer-->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script src="/javascripts/main.js"></script>
    <!-- BEGIN: Vendor JS-->
    <script src="/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="/app-assets/js/core/app-menu.js"></script>
    <script src="/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>