<!DOCTYPE html>
<html class="loading" lang="ko" data-textdirection="ltr">
<!-- BEGIN: Head-->
<%- include('./template/header.ejs')%>
<div class="app-content center-layout mt-2">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <section class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form class="row" name="searchForm">
                                    <div class="col-12">
                                        <div class="row">
                                            <h4 class="col-12">검색 날짜</h4>
                                            <input type="text" name="sDate" class="form-control col-5 ml-1 mr-1" placeholder="2022-01-01">
                                            <input type="text" name="eDate" class="form-control col-5" placeholder="2022-01-02">
                                        </div>
                                        <div class="row mt-1">
                                            <h4 class="col-12">구매자 이름</h4>
                                            <input type="text" name="buyer" class="form-control col-6 ml-1" placeholder="구매자 이름">
                                        </div>

                                        <div class="row mt-1">
                                            <h4 class="col-12">상품 상태</h4>
                                            <select name="orderStatus" class="form-control col-6 ml-1">
                                                <option value="">선택안함</option>
                                                <option value="BEFORE">입금전</option>
                                                <option value="DEPOSIT">입금완료</option>
                                                <option value="COMPLETE">배송완료</option>
                                            </select>
                                        </div>

                                        <div class="row mt-1">
                                            <div class="col-12 text-center">
                                                <button type="submit" class="btn btn-primary col-lg-6 col-md-12">검색</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-head">
                            <div class="card-header">
                                <h4 class="card-title">검색내역</h4>
                                <div class="heading-elements">
                                    <button type="button" class="btn btn-secondary" onclick="deliveryExcel()">택배 출력</button>
                                    <button type="button" class="btn btn-info" onclick="saleExcel()">판매 출력</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="orderList" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
                                        <thead>
                                        <tr>
                                            <th>주문번호</th>
                                            <th>주문일</th>
                                            <th>상품</th>
                                            <th>상태</th>
                                            <th>구매자</th>
                                            <th>결제금액</th>
                                            <th>관리</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<!-- order detail modal -->
<div class="modal fade text-left" id="orderDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">상품 상세</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="orderForm">
                    <h5>상품 상세정보</h5>
                    <span>
                        <div class="row">
                            <div class="col-lg-2 ml-1 mr-1 mt-1">품종</div>
                            <div class="col-lg-2 ml-1 mr-1 mt-1">옵션</div>
                            <div class="col-lg-2 ml-1 mr-1 mt-1">kg</div>
                            <div class="col-lg-2 ml-1 mr-1 mt-1">개수</div>
                            <div class="col-lg-2 ml-1 mr-1 mt-1">개당 가격</div>
                        </div>
                    </span>
                    <span id="goodsList">

                    </span>
                    <hr>
                    <h5>주문자(입금자) 명</h5>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <input type="text" name="buyer" class="form-control" placeholder="입금자명" disabled />
                        </div>
                    </div>
                    <h5 class="mt-1">주문자 연락처</h5>
                    <div class="row">
                        <input type="text" name="buyerTel1" class="form-control col-3 ml-1" placeholder="010" disabled/>
                        <input type="text" name="buyerTel2" class="form-control col-3 ml-1" placeholder="1111" disabled/>
                        <input type="text" name="buyerTel3" class="form-control col-3 ml-1" placeholder="2222" disabled/>
                    </div>
                    <hr>
                    <h5>수령자 성함</h5>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <input type="text" name="recipient" class="form-control" placeholder="받는 분 성함" disabled />
                        </div>
                    </div>
                    <h5 class="mt-1">수령자 연락처</h5>
                    <div class="row">
                        <input type="text" name="recipientTel1" class="form-control col-3 ml-1" placeholder="010" disabled/>
                        <input type="text" name="recipientTel2" class="form-control col-3 ml-1" placeholder="3333" disabled/>
                        <input type="text" name="recipientTel3" class="form-control col-3 ml-1" placeholder="4444" disabled/>
                    </div>

                    <h5 class="mt-1">받는 분 주소</h5>
                    <div class="row">
                        <input type="text" name="post1" class="form-control col-4 ml-1" placeholder="우편번호" disabled/>
                        <input type="text" name="post2" class="form-control col-11 ml-1 mr-1 mt-1" placeholder="우편주소" disabled/>
                        <input type="text" name="post3" class="form-control col-11 ml-1 mr-1 mt-1" placeholder="상세주소" disabled/>
                    </div>
                    <hr>
                    <h5 class="mt-1">기타 요청사항</h5>
                    <div class="row">
                        <textarea name="request" class="form-control col-11 ml-1" placeholder="ex) 발송자 이름을 xxx으로 변경해서 발송해주세요!" disabled></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- order detail modal -->
</body>
<!-- END: Body-->
<script>
    const requestUrl = '<%=requestUrl%>';
</script>
<%- include('./template/footer.ejs')%>
<script src="/javascripts/manager/manager.js"></script>
</html>